*{
	font-family: Courier New;
}

header{
	border-botton: 2px solid black;
}

div.head{
	display: inline-block;
}

header input {
	position:absolute;
	right:10px;
}

div.product{
	border: 1px solid black;
	width: 200px;
	text-align: center;
	margin: 10px;
	display: inline-block;
}
.check{
	float: left;
}
.err {
	color: red;
	display: inline;
}

#right{
	display: inline-block;
	position: absolute;
	right: 10px;
}
div.productadd{
	border: 1px solid black;
	width: 500px;
	margin: 10px;
	display: inline-block;
}
div.productadd input{
	text-align: left;
}